body {
    font-family: "Noto Sans";
    font-size: 10pt;
}

p {
    text-align: justify;
    hyphens: auto;
} 

figure object,
figure img,
figure, img {
    width: 80%;
}

figure {
    page-break-inside: avoid;
}

h1, h2 {
    page-break-before: always
}

h1 {
    color: blue;
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
    color: red;
}

h3 {
    font-size: 1.4em;
    color: pink;
}
