@page {
    size: a4;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-top: 3cm;
    margin-bottom: 3cm;
}

body {
    font-family: "Noto Sans";
    font-size: 11pt;
    hyphens: auto;
}

/*
p {
    text-align: justify;
}
*/

h1,
.ICD10,
.date,
.authors {
    display: none;
}
