@font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: NotoSans;
    font-weight: bold;
    src: url(fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: NotoSans;
    font-style: italic;
    src: url(fonts/NotoSans-Italic.ttf);
}

@font-face {
    font-family: NotoSans;
    font-style: italic;
    font-weight: bold;
    src: url(fonts/NotoSans-BoldItalic.ttf);
}

body {
    font-family: NotoSans;
}
